<h1 class="mt-4">Lobby</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>
<div><canvas id="content" width="1024" height="800" style="border:1px solid #000000;" tabindex="1"></canvas></div>
<a href="/user/logout" class="btn btn-secondary">Logout</a>
<script src='js/ezpz.js'></script>