<p class="lead mb-3">Welcome <%= user.name %><a href="/user/logout" class="btn btn-secondary">Logout</a></p>
<div><canvas id="content" width="1024" height="800" style="border:1px solid #000000;" tabindex="1"></canvas></div>
<script src='static/ezpz.js'></script>

<!-- game code -->
<!-- data -->
<script type="text/javascript" src="data/abilities.json"></script>
<script type="text/javascript" src="data/locations.json"></script>
<script type="text/javascript" src="data/enemies.json"></script>
<script type="text/javascript" src="data/items.js"></script>
<!-- model -->
<script type="text/javascript" src="model/PlayerModel.js"></script>
<script type="text/javascript" src="model/EntityModel.js"></script>
<script type="text/javascript" src="model/InventoryModel.js"></script>
<script type="text/javascript" src="model/SkillsModel.js"></script>
<!-- view -->
<script type="text/javascript" src="view/MapView.js"></script>
<script type="text/javascript" src="view/EntityView.js"></script> 
<script type="text/javascript" src="view/BattleView.js"></script>  
<script type="text/javascript" src="view/InventoryView.js"></script>  
<script type="text/javascript" src="view/PlayerHudView.js"></script>
<script type="text/javascript" src="view/CraftView.js"></script>
<script type="text/javascript" src="view/StoreView.js"></script>
<script type="text/javascript" src="view/SkillsConfigureView.js"></script>
<!-- controller -->
<script type="text/javascript" src="controller/MenuState.js"></script>
<script type="text/javascript" src="controller/BattleState.js"></script>
<script type="text/javascript" src="controller/LocationState.js"></script>
<script type="text/javascript" src="controller/CharacterManagerState.js"></script>
<script type="text/javascript" src="controller/AIController.js"></script>
<script type="text/javascript" src="controller/SpawnFactory.js"></script>

<script src='static/main.js'></script>
<script type="text/javascript">
  document.addEventListener( "DOMContentLoaded", function() {
      document.removeEventListener( "DOMContentLoaded", arguments.callee, false );
       game_create();
  }, false );
</script>