<p class="lead mb-3">Welcome <%= user.name %><a href="/user/logout" class="btn btn-secondary">Logout</a></p>
<div><canvas id="content" width="1024" height="800" style="border:1px solid #000000;" tabindex="1"></canvas></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>


<script type="module" src='js/main.js'></script>
<script type="text/javascript">
  document.addEventListener( "DOMContentLoaded", function() {
      document.removeEventListener( "DOMContentLoaded", arguments.callee, false );
       document.game_create();
  }, false );
</script>